body {
  background-color: #eeeeee;
  margin: 0;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
  height: auto;
  max-width: 100%;
  z-index: 10;
}

.container {
  padding-top: 100px; 
}
